{% extends 'base.html' %}
{% load static %}


{% block title %}
    Djangram | Postar
{% endblock %}


{% block body %}
<section class="create-post-section">
    <div class="create-post-container">
        <h2 class="title">Comente</h2>
        <form class="create-comment-form" method="POST">
            <!-- https://docs.djangoproject.com/en/2.2/ref/csrf/ -->
            {% csrf_token %}

            {{ form.as_p }} 
      
          <input class="create-post-input-submit" type="submit" value="Postar">
        </form>
    </div>
</section>
{% endblock %}
