{% extends 'base.html' %}
{% load static %}

{% block title %}Djangram | Detalhes do post {% endblock title %}


{% block body %}
<section class="detail-post">
    
        <div class="post">
        <div class="post-menu">

        <a href="{% url 'posts:delete_post' post.pk %}"><img src="{% static 'img/delete.png' %}" width=40px height="40px"></a>
        <a href="{% url 'posts:create_commet' %}" ><img src="{% static 'img/comment.png' %}" width=40px height="40px"></a>
        
        </div>
        {% with post=post  %}
                {% include 'includes/card.html' %}
            {% endwith %}
       </div>

        <div class="comments">
        <h2>Comentários</h2>

        <!-- Using get_context_data -->

        {% for c in comments %}

            <div class="post-card-info-top">
            <div class="author-picture" style="background-image: url({{ c.author.picture.url }});"></div>
            <span class="author-username">
                <a href="{% url 'users:detail_user' c.author.pk %}">{{ c.author.username }}</a>
            </span>
            </div>
            
            
            <p>{{ c.text }}</p>

        
        {% endfor %}
        </div>

          
    </div>
</section>
{% endblock body %}
